body{
    margin: 0;
    background: #F7F7F7;
    margin-left: 0px;
    margin-right: 0px;
}
.header{
    position: fixed;
    background: rgba(13, 51, 252, 0.74);
    Width:100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 50px rgba(70, 35, 210, 0.5);
    opacity: 0.8;
    Height: 120px;
}
h2{
position: absolute;
padding: 30px 100px;
font-family: Roboto;
font-weight: bold;
font-size: 25px;
color: #FFFFFF;
}

.header a{
    padding-top: 30px;
    font-family: Roboto;
    font-size: 18px;
    color: #FFFFFF;
    margin: 20px;
justify-content: space-between;
text-decoration: none;
}
 .link{
     padding: 55px 250px 10px 600px;
 }
 .header img{
    height: 40px;
   padding: 30px;
  left: 89.51%;
right: 6.32%;
top: 1.03%;
bottom: 97.76%;
  }
  .tour{
      background-image: url(boy\ pics.png);
      background-attachment:local;
      width:  100%;
      height: 100%;
  }
  .mainbody{
      padding-top: 82.3px;
  }
  .tour h1{
    line-height: 64px;
    letter-spacing: 0.05em;
    font-size: 54.5824px;
    font-style: normal;
    font-family: Raleway;
    font-weight: bold;
    color: #FFFFFF;
    padding:120px 180px 20px 140px
  }
  .tour p{
 padding-left: 145px; 
 padding-right:700px ; 
 padding-bottom: 20px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.05em;
color: #FFFFFF;
  }
 ul{
   padding-left: 145px;
}
.tour button{
    width: 150px;
    height: 40px;
    background-color: blue;
    border-radius: 3px;
    color: #FFFFFF;
    border: 1px solid blue;
    cursor: pointer;
}
.tour img{
   padding-left: 10px;
    width: 14px;
}
#container{
    display: flex;
    flex-direction: row;
   padding-left: 20px;
    background: #F7F7F7;
    flex-wrap: wrap;
   
    margin-top: 10px;
}
#container > div{
    font-size:20px;
    padding:60px;
    width:200px;
   text-align: center; 
   
}
#container a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
#container img{
    height: 55px;
}
.classroom{
    border-left: 1px solid rgb(223, 218, 218); 
}
.facilities{
    border-left: 1px solid rgb(223, 218, 218);
}
.teacher{
    border-left: 1px solid rgb(223, 218, 218);
}
#container ul{
    text-align: center;
    padding: 0px;
    height:38px ;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #585566;
}
.principal{
    text-align: center;
    padding-top: 15px;
    background: #E5E5E5;
    width: 100%;
    padding-bottom: 0px;
    background-image: url(Group\ 59.png);
    background-position: top right 10px;
    background-repeat: no-repeat;
}
.principal h1{
    padding-left: 300px;
    padding-right: 300px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 45px;
    color: #0D33FC;
}
.principal p{
    font-size: 17px;
    color: #0C032F;
    font-family: Roboto;
    padding-left: 450px;
    padding-right: 450px;
}
.principal ul {
 text-align: center;
padding-right: 150px;
 padding-bottom: 10px;
}
.principal p{
    font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 20px;
}
.principal h4{
    font-family: Roboto;
font-weight: bold;
font-size: 22px;
margin: 0px;
padding-bottom: 15px;
}
.choose{
    
    background-image: url(image.png);
    background-position: center;
    background-attachment:local;
}
.details{
    opacity: 0.9;
    margin: 0px;
    padding-top:10px  ;
    padding-left: 80px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.6);
}
.details h1{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
color: #FFFFFF;
font-size: 30px;
}
#empower{
    font-size: 21px;
}
.details p{
    padding-right: 950px;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
}
.details button{
    background-color: #0D33FC;
    height: 35px;
    border: 2.5px solid #0D33FC ;
    border-radius: 7px;
    color: #FFFFFF;
    
}
.details a{
    text-decoration: none;
    color:#FFFFFF;
    padding: 6px 6px 6px 6px;
}

 .passion{ 
    text-align: center;
    background-image: url(Group\ 5.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100px;
    
} 
.passion h1{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
color: #0D33FC;
}
.passion h4{
    padding-left: 420px;
    padding-right: 420px;
    font-family: Roboto;
font-style: normal;
font-weight: 50;
font-size: 18px;
color: #0C032F;
opacity: 0.7;
}
.passion ul{
    display: flex;
    flex-direction: row;
}
.passion img{
    height: 300px;
}
.ade img{
    border: #F7F7F7 2px solid;
    padding-top: 7px;
  height: 274px;
}
.passion ol{
text-align: center;
display:flex;
flex-direction: row;
margin: 0px;
}
.passion ol p{
    padding-left: 250px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16.5675px;
color: #0C032F;
}

.text{
    display: flex;
flex-direction: row; 
padding-left: 150px;
padding-bottom: 60px;
       /* justify-content: space-between;  */

}
.lorem {
border-radius: 10.6272px;
margin-bottom: 15px;
 border: 1px solid #000;
margin:5px ;
 border: 1px solid #d6e0e2;
 text-align: center;
 font-size: 14px;
 font-family: 'Roboto', sans-serif;
 padding: 30px 30px 30px 30px;
/* height: 100px; */
width: 250px;
box-shadow: 0px 4.25088px 15.9408px rgba(109, 146, 217, 0.53);

}

.mark{
    padding-top: 20px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16.5675px;
color: #0C032F;
    
}
footer{
    display: flex;
    flex-direction: row;
    background: #0D33FC;
    box-shadow: 0px 4.12787px 51.5984px rgba(70, 35, 210, 0.5);


}
footer p{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16.5115px;
line-height: 19px;
letter-spacing: 0.05em;
color: #FFFFFF;

}
footer ol {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16.5115px;
line-height: 19px;
letter-spacing: 0.05em;
color: #FFFFFF;
}

footer div{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16.5115px;
line-height: 19px;
letter-spacing: 0.05em;
}
footer h1{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;
}
.social img{
    margin: 10px;
    margin-top: 0px;
}
